@charset "UTF-8";

body
{
    background-image: linear-gradient(90deg, yellow, red );
    color: black;
    font-size: 12pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

h1
{   
    background-image: linear-gradient(270deg, red, yellow );
    background-color: aqua;
    color: black;
    font-size: 30pt;
    font-family:Arial;
    text-align: center;
}

p
{
    color: black;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
}

h2
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

h21
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: left; 
    text-align: center;  
}

h3
{
    color: black;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

li
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

a
{
    color: blue;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
    text-decoration: none;
} 

table
{
    background-color: white;
    color: black;
    font-size: 20pt;
    font-family:Arial;   
    table, td, th, tfoot 
        {
            border: 3px solid;
        }  
    td {color: blue;}
    text-align: center;  
    margin: auto;    
}

table.table tr
{
    cursor.pointer;
}

